/* 清除浏览器默认样式 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* 移除链接的下划线 */
  a {
    text-decoration: none;
  }
  
  /* 去除列表元素的默认样式 */
  ul, ol {
    list-style: none;
  }
  
  /* ul li前无小点 */
  ul li:before {
    content: "";
  }
/* 标志 */
.container {
    display: flex;
    justify-content: space-between;
}
.item {
    flex: 1;
    padding: 10px;
    background-color: lightgray;
}
/* logo栏 */
.head-top {
    background: #1b5b90cc;
    display: flex;
    text-align: left;
    flex-direction: row;
    align-items: center;
    color: #5bc67e;
}
.head-top p{
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}
.head-top a p{
    color: #ffffffff;
    font-size: 1.8rem ;
    font-family: Times, '黑体';
} 
 /* 导航样式 */
 .head-bottom {
    background: rgba(27, 91, 144, 0.677);
    z-index: 1000;
}
.head-bottom ul{
    margin-left:10%;
    margin-right:10%;
    display:flex;
    justify-content: space-between;
    text-align: center;
}
.head-bottom ul li{
    font-size: 20px;
    color: #ffffff;
    width: 120px;
    padding-right:20px;
    padding-left:10px;
    padding-top:15px;
    padding-bottom:15px;
    display: inline-block;
}
.head-bottom ul li a{
    font-size: 20px;
    color: #ffffff;
    font-family: '黑体';
}
.head-bottom ul li ul{
    display:none;
}
.head-bottom ul li:hover{
    position:relative;
    background: #357cb6;
} 
.head-bottom ul li:hover ul{
    position:absolute;
    display:block;
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    background: #357cb6;
    padding-left:10px;
    margin-left:-10px;
    margin-right:0%;
    text-align: left;
} 
.head-bottom ul li ul li:hover{
    background: #0000009c;
} 
.head-bottom ul li a{
    font-size: 1.4rem ;
} 
.head-bottom ul li:hover ul{
    margin-top:15px;
    margin-bottom:10px;
    z-index: 1000;
} 
.head-bottom ul li:hover ul li{
    padding-top:5px;
    padding-bottom:5px;
    margin-top:2px;
    margin-bottom:2px;
} 
.head-bottom ul li:hover ul li a{
    font-size: 1.2rem ;
} 
.head-bottom ul li:hover ul li:hover a{
    font-size: 1.3rem ;
    z-index: 1000;
} 
